<link rel="stylesheet" href="/CSS/style.css">

<h1 class="brandname animate__animated animate__fadeIn animate__slow">{{newBrands.brand_name}}</h1> <br><br><br>

<div class="branditem">
  {{#each newBrands.sneakers as |sneakers|}}
  <a class="shoe-names" href="/allSneakers/{{id}}"> <h2>{{sneaker_name}} </h2><br></a>

  <div class="price-stock">
    Price: ${{price}} <br>
  </div>

  <br>
  <br>

  <div class="shoe-container">
   <img src="{{img}}" alt="image of shoes"> <br><hr>
   <hr>
  </div>
    {{/each}}
 
</div>

