
<h1 class="text-center white-text">{{newSneaker.sneaker_name}} </h1>
<h2 class="text-center white-text">${{newSneaker.price}} </h2> 
<p class="text-center white-text">Stock: {{newSneaker.stock}} </p>


<img class="mx-auto d-block" src="{{newSneaker.img}}" alt="image of shoes"> 

<h1 class="white-text mt-4 text-center">Type: {{newSneaker.type.Type_name}} </h1>

    <p class="white-text mt-3 text-center">Shoe Attributes</p>
<ul class="d-flex justify-content-center">
    {{#each newSneaker.tags as |tag|}}
        <li class="list-unstyled p-3 mr-2 rounded text-uppercase" style="background-color: rgb(44, 230, 168);">{{tag_name}} </li>
    {{/each}}
</ul>

