<h1>{{newSneaker.sneaker_name}} </h1><br>
<h1> price : {{newSneaker.price}}$</h1> <br>
<h1>stock: {{newSneaker.stock}} </h1><br>
{{!-- <img src="/images/{{sneakers.dataValues.img}}" alt="image of shoes"> --}}




 <h1>type :  {{newSneaker.type.Type_name}} </h1>


