<h1>{{newSneaker.sneaker_name}} </h1><br>
<h1> price : {{newSneaker.price}}$</h1> <br>
<h1>stock: {{newSneaker.stock}} </h1><br>

<img src="{{newSneaker.img}}" alt="image of shoes"> <br><hr> 



 <h1>type :  {{newSneaker.type.Type_name}} </h1>

{{#each newSneaker.tags as |tag|}}
  <h2>{{tag_name}} </h2><br>
   <hr>
    {{/each}}

